body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 206, 147);
  padding: 10px 40px;
  color: white;
}

#entrar {
  width: auto;
}

.logo {
  width: 200px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.list-prim {
  font-size: 15px;
  margin-left: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.menu-celular {
  display: none;
}

/*Início do estilo do submenu*/
.sub-list {
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;

}

.list-sub {
  padding: 10px;
  border-bottom: 1px solid #00000013;
}

.sub-botoes {
  display: inline-block;
}

.conteudo-sub-completo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/*Fim do estilo do submenu*/

#titulo {
  color: rgb(34, 34, 36);
  font-size: 29px;
}

#paragrafo {
  font-size: 18px;
  line-height: 1.8;
}

.todo-texto {
  margin-right: 75px;
}

.secao {
  padding: 5rem;
}

.conteudo {
  width: 750px;
}

.img-cofre {
  width: 16rem;
}

#divisor {
  width: 100%;
}

@media screen and (max-width:900px) {
  .menu-celular {
    display: block;
  }

  .logo {
    width: 170px;
  }

  .sub-menu {
    display: none;
  }

  .barra {
    width: 25px;
  }

  .list {
    display: none;
  }

  .botoes {
    display: none;
  }


  .secao {
    padding: 2rem;
  }

  .todo-texto {
    text-align: center;
    margin-right: 0px;
  }

  .img-cofre {
    width: 10rem;
  }

  .conteudo {
    flex-direction: column;
    display: inline-block;
  }


}