body {
    background-image: linear-gradient(to right top, #1ece93, #18be85, #11ad78, #089e6b, #008e5e);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 206, 147);
    padding: 10px 40px;
    color: white;

}

h1{
    font-size: 1.5rem;
}

.seta {
    width: 2rem;
    cursor: pointer;
}

.titulo_transacao{
    color: white;
    font-size: 1.2rem;
}

.logo {
    width: 200px;
}


form {
    background-color: rgb(30, 206, 147);
    width: 15rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}